// src/Components/Footer/Footer.scss
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: black; // Primary text color
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.446);
    border-top: 10px dashed white; // Dashed border to resemble a fence
  }
  