.clouds {
  position: absolute;
  top: 10%; // Adjust as needed
  left: 0;
  width: 100%;
  height: 20%; // Adjust as needed
  pointer-events: none; // Allows clicking on buttons below
}

.cloud {
  position: absolute;
  background: white;
  border-radius: 50px;
  opacity: 0.8;
  animation: float 5s infinite ease-in-out; // Optional floating effect

  &::before,
  &::after {
    content: '';
    position: absolute;
    background: white;
    border-radius: 50px;
    opacity: 0.8;
  }

  &.cloud-1 {
    width: 60px;
    height: 35px;
    top: 0;
    left: 20%;
  }

  &.cloud-2 {
    width: 80px;
    height: 45px;
    top: 0;
    left: 50%;
  }

  &.cloud-3 {
    width: 100px;
    height: 50px;
    top: 0;
    left: 80%;
  }

  &.cloud-4 {
    width: 70px;
    height: 40px;
    top: 0;
    left: 10%;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.field-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: rgb(29,177,16);
background: linear-gradient(0deg, rgba(29,177,16,1) 57%, rgb(87, 188, 255) 57%);
  }
  
  .add-horse-button {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: #2e66e5; 
    border: none;
    border-radius: 20px;

    &:hover {
      background-color: #1a3cb1;
      color:white;
      border-bottom: 2px solid white;
      margin-bottom: -.1rem;
    }
  }

  .clear-horses-button{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: #2e66e5; 
    border: none;
    border-radius: 20px;

    &:hover {
      background-color: #1a3cb1;
      color:white;
      border-bottom: 2px solid white;
      margin-bottom: -.1rem;
    }
  }
  
  .horse-container {
    position: absolute;
    width: 12.5rem; 
    height: 9.375rem; 
  }
  
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: black; // Primary text color
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.446);
  border-top: 10px dashed white; // Dashed border to resemble a fence
}
